body {
	overflow: hidden;
	margin: 0px;
	background: url('../img/rainpanda2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	sbackground-size: cover;
	font-family: 'Lato';
}

#one {
	text-align: center;
	height: 100vh;
	color: #fff;
	padding: 10px;
	font-size: 25vh;
	margin-top: 25vh;
}